<div class="container" >

    <h1>Department Query</h1>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <label for="dept_no">Department number:</label>
            <input id="dept_no" class="form-control" type="text" name="dept_no" ng-model="ctrl.searchForm.dept_no"
                   placeholder="Enter department number to search">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-click="ctrl.search()">
                Search
            </button>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Field name</th>
            <th>Value</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Department number</td>
            <td>
                {{ctrl.result.dept_no}}
            </td>
        </tr>
        <tr>
            <td>Department name</td>
            <td>
                <div ng-hide="ctrl.editorEnabled">
                    {{ ctrl.result.dept_name }}
                    <a >
                        &nbsp;<i ng-click="ctrl.enableEditor()" class="fa fa-pencil fa-lg" aria-hidden="true" ></i>
                    </a>
                </div>
                <div ng-show="ctrl.editorEnabled">
                    <input class="form-control" size="3" ng-model="ctrl.editableDeptName" ng-show="ctrl.editorEnabled">
                    <a href="#" ng-click="ctrl.save()">Save</a>
                    or
                    <a href="#" ng-click="ctrl.disableEditor()">cancel</a>.
                </div>
            </td>

        </tr>
        <tr>
            <td>Manager Id</td>
            <td>{{ctrl.result.manager.emp_no}}
                <a >
                    &nbsp;<i ng-click="ctrl.deleteManager(ctrl.result.manager.emp_no)" style="color:red" class="fa fa-trash fa-lg" aria-hidden="true" ></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
